.DS_Store
*.bak
*.data
*.elc
*.log
*bak/
.cache/
.cask/
.vscode/
/.agignore
/.elfeed
/.emacs*.desktop
/.emacs*.desktop.lock
/.emacs-buffers
/.last-package-update-day
/.lsp-session*
/.markdown-preview.html
/.mc-lists.el
/.org-id-locations
/.persistent-scratch
/.rgignore
/GPATH
/GRTAGS
/GTAGS
/TAGS
/ac-comphist.dat
/amx-items
/bookmarks
/company-statistics-cache.el
/custom.el
/custom-post.el
/history
/nov-places
/places
/projectile-bookmarks.eld
/projectile.cache
/package-quickstart.el
/recentf
/scratch
/smex-items
/tramp
anaconda-mode/
auto-save-list/
cnfonts/
eclipse.jdt.ls/
elpa-devel/
elpa/
emojis/
eshell/
games/
image-dired/
images/
irony/
magithub/
persp-confs/
persistent-scratch/
request/
server/
thumbs/
tldr/
transient/
tutorial/
url/
var/
workspace/
session*
tmp*
ido.*
flycheck_*.el*
README.html
*.sqlite
.dap-*
