*.elc
ido.*
session*
/.emacs.desktop
/.emacs.desktop.lock
/.persistent-scratch
/ac-comphist.dat
auto-save-list/
chinese-fonts-setup/
elpa/
/history
/projectile-bookmarks.eld
/smex-items
url/
var/
/places
/recentf
.python-environments/
server/
/helm-adaptive-history
anaconda-mode/
flycheck_*.el*
/projectile.cache
*.log
eshell/
