*.bak
*.elc
*.log
ido.*
session*
tmp*
flycheck_*.el*
/.emacs.desktop
/.emacs.desktop.lock
/bookmarks
/places
/recentf
/history
anaconda-mode/
auto-save-list/
*bak/
cnfonts/
elpa/
eshell/
games/
persistent-scratch/
server/
spu_log/
tutorial/
url/
var/
.python-environments/
.vscode/
/ac-comphist.dat
/projectile-bookmarks.eld
/smex-items
/helm-adaptive-history
/projectile.cache
/tramp
/custom.el
/.mc-lists.el
/company-statistics-cache.el
/.agignore
/TAGS
/GPATH
/GRTAGS
/GTAGS
/scratch
/.persistent-scratch
/bm-repository
/.emacs-buffers
/.last-package-update-day
/flymd.html
/flymd.md
/.org-id-locations
