name: CI

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs-version: [27.2, 28.2, 29.4]
        experimental: [false]
        include:
          - os: ubuntu-latest
            emacs-version: snapshot
            experimental: true
          - os: macos-latest
            emacs-version: snapshot
            experimental: true
          - os: windows-latest
            emacs-version: snapshot
            experimental: true

    steps:
      - name: setenv
        run: echo "ACTIONS_ALLOW_UNSECURE_COMMANDS=true" >> $GITHUB_ENV

      - uses: actions/checkout@v4

      - uses: jcs090218/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: test
        run: |
          export HOME="/home/runner/work/.emacs.d"; \
          cp -f $HOME/.emacs.d/custom-example.el $HOME/.emacs.d/custom.el; \
          emacs -q --batch \
          --eval "(message \"Testing...\")" \
          --eval "(let ((early-init-file (locate-user-emacs-file \"early-init.el\"))
                        (user-init-file (locate-user-emacs-file \"init.el\")))
                    (and (>= emacs-major-version 27) (load early-init-file))
                    (load user-init-file))" \
          --eval "(message \"Testing...done\")"
