name: CI

on:
  push:
    branches:
      - master
      - feat/modern-completion
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        emacs-version: [27.2, 28.2, 29.1]
        experimental: [false]
        include:
          - emacs-version: snapshot
            experimental: true

    steps:
      - name: setenv
        run: echo "ACTIONS_ALLOW_UNSECURE_COMMANDS=true" >> $GITHUB_ENV

      - uses: actions/checkout@v3

      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: test
        run: |
          export HOME="/home/runner/work/.emacs.d"; \
          mkdir -p $HOME/.emacs.d/elpa/gnupg && gpg --homedir $HOME/.emacs.d/elpa/gnupg --receive-keys 066DAFCB81E42C40; \
          emacs -q --batch \
          --eval "(message \"Testing...\")" \
          --eval "(let ((early-init-file (locate-user-emacs-file \"early-init.el\"))
                        (user-init-file (locate-user-emacs-file \"init.el\")))
                    (and (>= emacs-major-version 27) (load early-init-file))
                    (load user-init-file))" \
          --eval "(message \"Testing...done\")"
